* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background-image: url('./assets/images/background.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
}

.bg {
    background-image: url('./assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}


/* NAVBAR */

header {
    background-color: rgba(37, 53, 110, 0.796);
    padding: 2rem;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

a img {
    height: 3rem;
}

ul {
    display: flex;
    gap: 2rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}


/* HOMEPAGE */

.section-container {
    overflow: auto;
    min-height: 80vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-top: 10rem;
}

article {
    position: relative;
    cursor: pointer;
}

article img {
    height: 20rem;
    object-fit: cover;
    width: 15rem;
    border-radius: 7px;
    transition: transform 0.3s ease;
}

article .infos {
    background-color: rgba(25, 25, 25, 0.664);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    border-radius: 5px;
}

article .infos footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(37, 53, 110, 0.796);
    padding: 1rem;
    backdrop-filter: blur(10px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5px 5px;
}

article:hover .infos {
    display: flex;
    opacity: 1;
    transition: 0.5s;
}

article:focus-within .infos {
    display: flex;
    opacity: 1;
}

article .infos a i {
    border: 2px solid white;
    /* padding: 0.5rem; */
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* PAGE 404 */

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
}

.error h1 {
    font-size: 4rem;
}

.error p {
    font-size: 1.3rem;
    text-align: center;
}

.error a {
    text-decoration: underline;
    color: violet;
    text-underline-offset: 0.2rem;
}


/* RESPONSIVE */

@media (min-width: 1025px) {
    .section-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        height: 100vh;
    }

    article img {
        height: 25rem;
        width: 20rem;
    }
}